services:
  app:
    build: ./app
    container_name: fastapi-app
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: "mysql+aiomysql://user:password@db:3306/orders"
      REDIS_URL: "redis://redis:6379/0"
    depends_on:
      - db
      - redis

  db:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: orders
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  redis:
    image: redis:7
    ports:
      - "6379:6379"

volumes:
  mysql_data:
